.task {
	border: 2px solid grey;
	border-radius: 7px;
	margin: 1rem;
	padding: 1rem;
	position: relative;
}
.gombok {
	display: flex;
	gap: 20rem;
	position: relative;
}
.del {
	position: absolute;
	align-items: right;
	text-align: right;
	right: 0;
}
.adatok {
	margin-block: 2rem;
}
.tároló {
	border: 1px solid grey;
	border-radius: 25px;
	display: inline;
	width: fit-content;
	height: fit-content;
	font-size: smaller;
	font-weight: 400;
	color: gray;
	padding-block: 5px;
	padding-inline: 10px;
	margin-inline: 3rem;
}
