nav {
	background-color: orange;
	padding: 0.2rem;
}
ul {
	list-style-type: none;
	gap: 2rem;
	width: 75%;
	margin-inline: auto;
}
li {
	display: inline;
    margin: 2rem;
}
a {
	text-decoration: none;
	color: black;
}
